<!DOCTYPE html>
<html>
<head>
	<title>Placement Portal</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<link href="/img/favicon.ico" rel="icon" type="image/x-icon">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"><!-- Included Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'><!-- CSS Files comes here -->
	<link href="/css/grid12.css" media="screen" rel="stylesheet"><!-- Grid System -->
	<link href="/css/james_typography.css" media="screen" rel="stylesheet"><!-- James Framework - TYPOGRAPHY -->
	<link href="/css/main.css" media="screen" rel="stylesheet"><!-- Main CSS file -->
	<link href="/css/color_scheme_light.css" media="screen" rel="stylesheet"><!-- Color scheme (dark/light)-->
	<link href="/css/colors/color_palette_indigo.css" media="screen" rel="stylesheet"><!-- Color palette -->
	<link href="/css/rapid-icons.css" media="screen" rel="stylesheet"><!-- James Framework - ICONS -->
	<link href="/css/responsivity.css" media="screen" rel="stylesheet"><!-- Responsive Fixes -->
	<link href="/css/animate.css" media="screen" rel="stylesheet"><!-- Animate - animations -->
	<link href="/css/nivo-lightbox.css" media="screen" rel="stylesheet"><!-- Lightbox Styles -->
	<link href="/css/nivo_lightbox_themes/default/default.css" media="screen" rel="stylesheet"><!-- Lightbox Styles -->
	<link href="/css/owl.carousel.css" media="screen" rel="stylesheet"><!-- Owl - Carousel -->
	<link href="/css/owl.theme.css" media="screen" rel="stylesheet"><!-- Owl - Carousel -->
	<link href="/css/owl.transitions.css" media="screen" rel="stylesheet"><!-- Owl - Carousel --><!-- Modernizer and IE specyfic files -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
	<script src="/js/modernizr.custom.js">
	</script>
</head>
<body>
	<div id="preloader_container">
		<!-- Preloader Screen -->
		<header class="preloader_header">
			<div class="preloader_loader">
				<svg class="preloader_inner" height="60px" viewbox="0 0 80 80" width="60px">
				<path class="preloader_loader_circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"></path>
				<path class="preloader_loader_circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" id="preloader_loader_circle"></path></svg>
			</div>
		</header><!-- //Preloader Screen -->
		<!-- Fullscreen homepage -->
		<section class="hero_fullscreen background_solid">
			<!-- Logo and navigation -->
			<!-- //Logo and navigation -->
			<!-- Main content -->
			<div class="container align-center" id="main_content">
				<div class="content_container row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 home_content">
						<h2 class="slogan">Welcome to Placement Portal</h2>
						<h6>Just login with SRM Email and experience the Speed<br class="visible-lg visible-md"></h6><!-- CTA Button-->
						<div class="cta_button_area">
							<div>
								<a class="btn waves-effect waves-light subscribe-submit" href="/login">Login with Google</a>
							</div>
						</div><!-- //CTA Button-->
						<div class="home_mockups align-center"><img alt="" class="img_responsive home_mockups_3" src="/images/home_mockups_2-2.png"> <img alt="" class="img_responsive home_mockups_2" src="/images/home_mockups_3-2.png"> <img alt="" class="img_responsive home_mockups_1" src="/images/home_mockups_1.png"></div>
					</div>
				</div>
			</div><!-- //Main content -->
		</section><!-- //Homepage -->
		<!-- Subsection: More info -->
		<section class="subsection darker_bg align-center" id="more_info">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox content_anim1">
							<div class="iconbox_icon" data-icon="&#xe046;"></div>
							<div class="iconbox_content">
								<h5>Academia Enabled</h5>
								<p>Enables to fetch user details from Academia and Saves efforts.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox content_anim2">
							<div class="iconbox_icon" data-icon="&#xe061;"></div>
							<div class="iconbox_content">
								<h5>e Varsity to saviour</h5>
								<p>Crawler will fetch all data from e Varsity and get your job done.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox content_anim3">
							<div class="iconbox_icon" data-icon="&#xe07b;"></div>
							<div class="iconbox_content">
								<h5>Grade Verify</h5>
								<p>This will automatically verify all grades and saves time.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- //Subsection: More info -->
		<!-- Subsection: Features -->
		<!-- Subsection: FAQ -->
		<section class="subsection" id="faq">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center content_anim27">
						<div class="intro">
							<h3>Frequently Asked Questions</h3>
							<p>Got questions? We have answers.</p>
						</div>
					</div>
				</div>
				<div class="row align-left content_anim28">
					<!-- Q1 -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="iconbox content_anim1">
							<h5>Academia and e Varsity login is compulsary?</h5>
							<p>Yes.Login with Academia and Eversity is compulsary. It enables you to save your time by decreasing typing work</p>
						</div>
					</div><!-- //Q1 -->
					<!-- Q2 -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="iconbox content_anim1">
							<h5>Forgot Academia and e Varsity password?</h5>
							<p>Visit ITKM and get it changed.</p>
						</div>
					</div><!-- //Q2 -->
				</div>
				<div class="row align-left content_anim29">
					<!-- Q3 -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="iconbox content_anim1">
							<h5>Issues regarding Placements !</h5>
							<p>Contact Rajkumar sir - email</p>
						</div>
					</div><!-- //Q3 --><!-- Q4 -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="iconbox content_anim1">
							<h5>Have Any Queries or bugs ?</h5>
							<p>Tell us at ayush_verma@srmuniv.edu.in</p>
						</div>
					</div><!-- //Q4 -->
				</div>
			</div>
		</section><!-- //Subsection: FAQ -->
		<!-- Subsection: CTA -->
		<!-- //Subsection: CTA -->
		<!-- Footer -->
		<section class="subsection color_bg" id="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 outher">
						<!-- <img src="/images/logo.png" alt="logo" class="logo inner"/> -->
						<p class="inner">© Department of CSE</p>
						<p class="float-right inner visible-lg visible-md">Bugs report @&nbsp;<strong>email</strong></p>
					</div>
				</div>
			</div>
		</section><!-- //Footer -->
	</div><!-- //preloader -->
	<!-- JavaScript plugins comes here -->
	<script src="/js/jquery-2.1.3.min.js">
	</script> <!-- jQuery -->
	 
	<script src="/js/jquery.easing.min.js">
	</script> <!-- jQuery easing --> 
	<script src="/js/jquery.cycle.all.min.js">
	</script> <!-- jQuery cycle -->
	 
	<script src="/js/materialize.js">
	</script> <!-- Materialize -->
	 
	<script src="/js/classie.js">
	</script> <!-- Class helper function -->
	 
	<script src="/js/pathLoader.js">
	</script> <!-- Preloader Loading Animation -->
	 
	<script src="/js/preloader.js">
	</script> <!-- Preloader -->
	 
	<script src="/js/retina.js">
	</script> <!-- Retina.js - support for HiDPI Displays -->
	 
	<script src="/js/waypoints.min.js">
	</script> <!-- Waypoints -->
	 
	<script src="/js/nivo-lightbox.min.js">
	</script> <!-- Lightbox/Modalbox -->
	 
	<script src="/js/owl.carousel.js">
	</script> <!-- Owl Carousel --> 
	<script src="/js/main.js">
	</script> <!-- Main Js file -->
    <script src="https://unpkg.com/notie">
    </script>
    {{#if script}}
    	<script>{{{script}}}</script>
    {{/if}}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-89386373-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>