{{#> layout}}
        {{> sidebar personalActive=true name=name image=image}}
        <div class="main-panel">
            {{> navbar tabName="Personal Details"}}
            <div class="content">
                <div class="container-fluid">
                    <div class="col-md-12">
                    {{> dashboard-personalDetails/card name=name regno=regno boarding=boarding bloodGroup=bloodGroup dob=dob gender=gender height=height weight=weight fName=fName mName=mName evarsity=evarsity}}
                    </div>
                </div>
            </div>
        </div>
{{/layout}}