                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <form id="TypeValidation" class="form-horizontal" action="" method="">
                                <div class="card-header card-header-text" data-background-color="rose">
                                    <h4 class="card-title">Enter Details</h4>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Register Number</label>
                                        <div class="col-sm-7">
                                            <div class="form-group label-floating">
                                                <label class="control-label"></label>
                                                <input class="form-control" type="text" name="required" required="true" />
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right">
                                        <code>Full Number</code>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Email</label>
                                        <div class="col-sm-7">
                                            <div class="form-group label-floating">
                                                <label class="control-label"></label>
                                                <input class="form-control" type="text" name="email" email="true" />
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right">
                                        <code>Personal Email.</code>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Cell Number</label>
                                        <div class="col-sm-7">
                                            <div class="form-group label-floating">
                                                <label class="control-label"></label>
                                                <input class="form-control" type="text" name="number" number="true" />
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right">
                                        <code>Local Number</code>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left"> Cell Number</label>
                                        <div class="col-sm-7">
                                            <div class="form-group label-floating">
                                                <label class="control-label"></label>
                                                <input class="form-control" type="text" name="number" number="true" />
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right">
                                        <code>Alternate Number</code>
                                        </label>
                                    </div>
                                    <!--  <div class="row">
                                        <label class="col-sm-2 label-on-left">Url</label>
                                        <div class="col-sm-7">
                                            <div class="form-group label-floating">
                                                <label class="control-label"></label>
                                                <input class="form-control" type="text" name="url" url="true" />
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right">
                                            <code>url="true"</code>
                                        </label>
                                        </div> -->
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Option Opted</label>
                                        <div class="col-sm-3">
                                            <div class="form-group label-floating column-sizing">
                                                <label class="control-label"></label>
                                                <input class="form-control" id="idSource" type="text" placeholder="Placement" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group label-floating column-sizing">
                                                <label class="control-label"></label>
                                                <input class="form-control" id="idDestination" type="text" placeholder="Placement" equalTo="#idSource" />
                                            </div>
                                        </div>
                                        <label class="col-sm-4 label-on-right">
                                        <code>Enter Your Choice</code>
                                        </label>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-rose btn-fill">Validate Inputs</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <form id="RangeValidation" class="form-horizontal" action="" method="">
                                <div class="card-header card-header-text" data-background-color="rose">
                                    <h4 class="card-title">Information</h4>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">BOARDING</label>
                                        <div class="col-sm-7">
                                            <div class="form-group label-floating">
                                                <label class="control-label"></label>
                                                <input class="form-control" type="text" name="min_length" minLength="2" />
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right">
                                        <code>HOSTELER </code>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">DOB</label>
                                        <div class="col-sm-7">
                                            <div class="form-group label-floating">
                                                <label class="control-label"></label>
                                                <input class="form-control" type="text" name="max_length" maxLength="10" />
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right">
                                        <code>DD/MM/YYYY</code>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Gender
                                        </label>
                                        <div class="col-sm-7">
                                            <div class="form-group label-floating">
                                                <label class="control-label"></label>
                                                <input class="form-control" type="text" name="range"  />
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right">
                                        <code>Male/Female</code>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Father's name
                                        </label>
                                        <div class="col-sm-7">
                                            <div class="form-group label-floating">
                                                <label class="control-label"></label>
                                                <input class="form-control" type="text" name="range"  />
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right">
                                        </label>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Mother's name
                                        </label>
                                        <div class="col-sm-7">
                                            <div class="form-group label-floating">
                                                <label class="control-label"></label>
                                                <input class="form-control" type="text" name="range"  />
                                            </div>
                                        </div>
                                        <label class="col-sm-3 label-on-right">
                                        </label>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-rose btn-fill">Validate Inputs</button>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>