{{#> layout}}
		{{> sidebar academicActive=true name=name image=image}}
		<div class="main-panel">
			{{> navbar tabName="Academic Details"}}
			<div class="content">
				<div class="container-fluid">
					<div class="col-md-12">
					{{> dashboard-academics/card 10pc=10pc 10board=10board 12pc=12pc 12board=12board sgpa1=sgpa1 sgpa2=sgpa2 sgpa3=sgpa3 sgpa4=sgpa4 sgpa5=sgpa5 cgpa=cgpa historyArrears=historyArrears standingArrears=standingArrears evarsity=evarsity}}
					</div>
				</div>
			</div>
		</div>
{{/layout}}