{{#> layout}}
		{{> sidebar academicActive=true name=name}}
		<div class="main-panel">
			{{> navbar tabName="Academic Details"}}
			<div class="content">
				<div class="container-fluid">
					<div class="col-md-12">
					{{> dashboard-academics/card}}
					</div>
				</div>
			</div>
		</div>
{{/layout}}