		<div class="content">
		<div class="container-fluid">
		<div class="col-md-12">
			<div class="card">
				<form id="TypeValidation" class="form-horizontal" action="" method="">
					<div class="card-header card-header-text" data-background-color="rose">
						<h4 class="card-title">Academic</h4>
					</div>
					<div class="card-content">
						<div class="row">
							<label class="col-sm-2 label-on-left"> SGPA 1</label>
							<div class="col-sm-7">
								<div class="form-group label-floating">
									<label class="control-label"></label>
									<input class="form-control" type="text" name="number" number="true" />
								</div>
							</div>
							<label class="col-sm-3 label-on-right">
							<code>on 10</code>
							</label>
						</div>
						<div class="row">
							<label class="col-sm-2 label-on-left"> SGPA 2</label>
							<div class="col-sm-7">
								<div class="form-group label-floating">
									<label class="control-label"></label>
									<input class="form-control" type="text" name="number" number="true" />
								</div>
							</div>
							<label class="col-sm-3 label-on-right">
							<code>on 10</code>
							</label>
						</div>
						<div class="row">
							<label class="col-sm-2 label-on-left"> SGPA 3</label>
							<div class="col-sm-7">
								<div class="form-group label-floating">
									<label class="control-label"></label>
									<input class="form-control" type="text" name="number" number="true" />
								</div>
							</div>
							<label class="col-sm-3 label-on-right">
							<code>on 10</code>
							</label>
						</div>
						<div class="row">
							<label class="col-sm-2 label-on-left"> SGPA 4</label>
							<div class="col-sm-7">
								<div class="form-group label-floating">
									<label class="control-label"></label>
									<input class="form-control" type="text" name="number" number="true" />
								</div>
							</div>
							<label class="col-sm-3 label-on-right">
							<code>on 10</code>
							</label>
						</div>
						<div class="row">
							<label class="col-sm-2 label-on-left"> SGPA 5</label>
							<div class="col-sm-7">
								<div class="form-group label-floating">
									<label class="control-label"></label>
									<input class="form-control" type="text" name="number" number="true" />
								</div>
							</div>
							<label class="col-sm-3 label-on-right">
							<code>on 10</code>
							</label>
						</div>
						<div class="row">
							<label class="col-sm-2 label-on-left"> Current GPA</label>
							<div class="col-sm-7">
								<div class="form-group label-floating">
									<label class="control-label"></label>
									<input class="form-control" type="text" name="number" number="true" />
								</div>
							</div>
							<label class="col-sm-3 label-on-right">
							<code>All Semesters</code>
							</label>
						</div>
						<div class="col-md-6">
							<!-- <legend>Customisable Select</legend> -->
							<div class="row">
								<div class="col-lg-5 col-md-6 col-sm-3">
									<select class="selectpicker" data-style="btn btn-primary btn-round" title="Single Select" data-size="7">
										<option disabled selected>Arrears</option>
										<option value="2">Yes</option>
										<option value="3">No</option>
									</select>
								</div>
								<!--  <div class="row">
									<label class="col-sm-2 label-on-left">Url</label>
									<div class="col-sm-7">
									    <div class="form-group label-floating">
									        <label class="control-label"></label>
									        <input class="form-control" type="text" name="url" url="true" />
									    </div>
									</div>
									<label class="col-sm-3 label-on-right">
									    <code>url="true"</code>
									</label>
									</div> -->
								<div class="card-footer text-center">
									<button type="submit" class="btn btn-rose btn-fill">Submit</button>
								</div>
				</form>
				</div>
				</div>
				</div>
			</div>
		</div>