<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button class="btn btn-round btn-white btn-fill btn-just-icon" id="minimizeSidebar"><i class="material-icons visible-on-sidebar-regular">more_vert</i> <i class="material-icons visible-on-sidebar-mini">view_list</i></button>
        </div>
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="#">{{ tabName }}</a>
        </div>
    </div>
</nav>