{{#> layout}}
		{{> sidebar contactActive=true name=name image=image}}
		<div class="main-panel">
			{{> navbar tabName="Contact Details"}}
			<div class="content">
				<div class="container-fluid">
					<div class="col-md-12">
					{{> dashboard-contactDetails/card pAddress=pAddress cAddress=cAddress email=email pEmail=pEmail parentsTel=parentsTel personalTel=personalTel evarsity=evarsity}}
					</div>
				</div>
			</div>
		</div>
{{/layout}}