<div class="card">
	<div class="card-header card-header-text" data-background-color="rose">
		<h4 class="card-title">Contact Us</h4>
	</div>
	<div class="card-content">
		<h4 class="card-title">Mail from Offical SRM ID</h4>
		<div class="table-responsive">
			<table class="table">
				<thead class="text-primary">
					<tr>
						<th>Name</th>
						<th>Designation</th>
						<th>Subject</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Dr. M. Pushpalatha</td>
						<td>Year Coordinator</td>
						<td>Placement Related</td>
						<td class="text-primary">pushpalatha.m@ktr.srmuniv.ac.in</td>
					</tr>
					<tr>
						<td>Mr. A. Murugan</td>
						<td>Placement Coordinator</td>
						<td>Company Related</td>
						<td class="text-primary">murugan.a@ktr.srmuniv.ac.in</td>
					</tr>
					<tr>
						<td>Mr. R. Rajkumar</td>
						<td>Placement Head</td>
						<td>Information</td>
						<td class="text-primary">rajkumar.r@ktr.srmuniv.ac.in</td>
					</tr>
					<tr>
						<td>Nihal Shriwastawa</td>
						<td>Developer</td>
						<td>Portal related</td>
						<td class="text-primary">nihalshriwastawa_narendra@srmuniv.edu.in</td>
					</tr>
					<tr>
						<td>Ayush Verma</td>
						<td>Developer</td>
						<td>Tech Queries</td>
						<td class="text-primary">ayushverma111@gmail.com</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>