{{#> layout}}
		{{> sidebar askusActive=true name=name image=image}}
		<div class="main-panel">
			{{> navbar tabName="Contact Us"}}
			<div class="content">
				<div class="container-fluid">
					<div class="col-md-12">
					{{> dashboard-contact-us/card evarsity=evarsity}}
					</div>
				</div>
			</div>
		</div>
{{/layout}}