        <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <form id="TypeValidation" class="form-horizontal" action="" method="">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">School</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">10th Board Name</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="required" required="true" />
                                    </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                <code></code>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">10th Board %</label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="number" number="true" />
                                    </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                <code>or GPA</code>
                                </label>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <label class="col-sm-2 label-on-left">12th Board Name</label>
                                    <div class="col-sm-7">
                                        <div class="form-group label-floating">
                                            <label class="control-label"></label>
                                            <input class="form-control" type="text" name="required" required="true" />
                                        </div>
                                    </div>
                                    <label class="col-sm-3 label-on-right">
                                    <code></code>
                                    </label>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 label-on-left"> 12th Board %</label>
                                    <div class="col-sm-7">
                                        <div class="form-group label-floating">
                                            <label class="control-label"></label>
                                            <input class="form-control" type="text" name="number" number="true" />
                                        </div>
                                    </div>
                                    <label class="col-sm-3 label-on-right">
                                    <code></code>
                                    </label>
                                </div>
                                <!--  <div class="row">
                                    <label class="col-sm-2 label-on-left">Url</label>
                                    <div class="col-sm-7">
                                        <div class="form-group label-floating">
                                            <label class="control-label"></label>
                                            <input class="form-control" type="text" name="url" url="true" />
                                        </div>
                                    </div>
                                    <label class="col-sm-3 label-on-right">
                                        <code>url="true"</code>
                                    </label>
                                    </div> -->
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-rose btn-fill">Submit</button>
                                </div>
                    </form>
                    </div>
                    </div>
                </div>
                <footer class="footer">
                </footer>
            </div>
        </div>